body{
    font-family: Pacifico;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    background-image: url("abstract4.jpg");
    background-size: 100%;
}
h1{
    font-size: 40px;
}
img{
    width : 300px;
}

p{
    font-family: cursive;
    margin: 20px 100px;
    color : black;
    font-weight: bold;
    font-size: 25px;
}

div{
    border: 5px solid black;
    background-image: url("abstract5.jpg");
    background-size: 100%;

}

#IEEE_insta{
    width: 1000px;
}

hr{
    width: 200px;
    border-width: 10px;
    border-style: dotted none none;
    border-color: red;
    margin-top: 20px;
}

#join_now_image{
    width: 200px;
}